<!DOCTYPE html>
<html lang="en">
<head>
  {% include "./head.html" %}
  <title>发布文章</title>
  <link rel="stylesheet" href="/css/editormd/editormd.css">
  <script src="/js/editormd.min.js"></script>
</head>
<body>
<div class="container">
    <div class="article-form">
        <ul>
            <li><input type="text" placeholder="请输入标题" id="title"></li>
            <li><input type="text" placeholder="请输入关键字,多字段以 | 分开" id="keyword"></li>
            <li>
                <select name="" id="class">
                    {% for item in classItems %}
                    <option value="{{ item._id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li><input type="text" placeholder="排序: 1 => 100" id="sort"></li>
            <li><textarea name="" id="" cols="30" rows="10" placeholder="请输入描述" id="desc"></textarea></li>
        </ul>
        <div class="form-btn">
            <a href="javascript: void(0);">取消</a>
            <a href="javascript: void(0);" class="active" id="submit">提交</a>
        </div>
    </div>
    <div class="markdown">
        <div id="editormd">
            <textarea style="display:none;"></textarea>
        </div>
    </div>
</div>

{% include '../base/prompt.html' %}
</body>
</html>

<script type="text/javascript">
  var testeditor;
  $(function() {
      editor = editormd("editormd", {
          width   : "100%",
          height  : 640,
          syncScrolling : "single",
          path    : "/js/lib/",
          saveHTMLToTextarea : true,
          flowChart : true,             // 开启流程图支持，默认关闭
          sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
          imageUpload : true,
          emoji: true,
          imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
          imageUploadURL : "/upfile",
      });
  });
</script>

<script>
    $('#submit').on('click', function () {
        if(!$('#title').val().length){prompt('请输入标题');return;}
        var params = {
            title: $('#title').val(),
            keyword: $('#keyword').val().split('|'),
            sort: $('#sort').val(),
            desc: $('#desc').val(),
            markdown: editor.getMarkdown(),
            // content: editor.getHTML()
            content: $('.editormd-preview').html()
        }
        $.ajax({
            url: '/updateNotes',
            type: 'post',
            data: params,
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        })
    })
</script>