input,
select,
textarea{
  outline: 0;
}
.container{
  padding: 25px 100px;
}
.article-form{
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}
.article-form li{
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
}
.article-form input,
.article-form select{
  width: 200px;
}
.article-form select{
  background: #fff;
}
.article-form textarea{
  width: 400px;
}
#sort{
  width: 120px;
}
.article-form input,
.article-form select,
.article-form textarea{
  height: 35px;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 9px 12px;
}
.article-form ul{
  padding-right: 150px;
}
.form-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.form-btn a{
  display: inline-block;
  height: 35px;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px #ccc;
}
.form-btn a.active{
  color: #fff;
  background: #2196f3;
  border: none;
}
.markdown{

}