<div class="ui-pages">
  <span>每页显示</span>
  <select [(ngModel)]="pagesOption.count" (change)="queryDatas(1)">
    <option value="10">10条</option>
    <option value="20">20条</option>
    <option value="50">50条</option>
    <option value="100">100条</option>
    <option value="500">500条</option>
  </select>
  <div class="ui-pages-cell" *ngIf="pagesOption.total && pagesOption.total > 1">
    <a href="javascript: void(0);" *ngIf="pagesOption.page !== 1" (click)="queryDatas(pagesOption.page - 1)">上一页</a><!-- 
    --><a href="javascript: void(0);" *ngIf="pagesOption.page - 4 > 0 && pagesOption.total > 7" (click)="queryDatas(1)">1</a><!-- 
    --><a href="javascript: void(0);" *ngIf="pagesOption.page - 5 > 0 && pagesOption.total > 7" class="ui-page-ellipsis">…</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page - 6)" *ngIf="pagesOption.page - 6 > 0 && pagesOption.total <= 7">{{pagesOption.page - 6}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page - 5)" *ngIf="pagesOption.page - 5 > 0 && pagesOption.total <= 7">{{pagesOption.page - 5}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page - 4)" *ngIf="pagesOption.page - 4 > 0 && pagesOption.total <= 7">{{pagesOption.page - 4}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page - 3)" *ngIf="pagesOption.page - 3 > 0">{{pagesOption.page - 3}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page - 2)" *ngIf="pagesOption.page - 2 > 0">{{pagesOption.page - 2}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page - 1)" *ngIf="pagesOption.page - 1 > 0">{{pagesOption.page - 1}}</a><!-- 
    --><a href="javascript: void(0);" class="active">{{pagesOption.page}}</a><!--  
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page + 1)" *ngIf="pagesOption.page + 1 <= pagesOption.total">{{pagesOption.page + 1}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page + 2)" *ngIf="pagesOption.page + 2 <= pagesOption.total">{{pagesOption.page + 2}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page + 3)" *ngIf="pagesOption.page + 3 <= pagesOption.total">{{pagesOption.page + 3}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page + 4)" *ngIf="pagesOption.page + 4 <= pagesOption.total && pagesOption.page + 4 < 8">{{pagesOption.page + 4}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page + 5)" *ngIf="pagesOption.page + 5 <= pagesOption.total && pagesOption.page + 5 < 8">{{pagesOption.page + 5}}</a><!-- 
    --><a href="javascript: void(0);" (click)="queryDatas(pagesOption.page + 6)" *ngIf="pagesOption.page + 6 <= pagesOption.total && pagesOption.page + 6 < 8">{{pagesOption.page + 6}}</a><!-- 
    --><a href="javascript: void(0);" *ngIf="pagesOption.total >= pagesOption.page + 5 && pagesOption.total > 7" class="ui-page-ellipsis">…</a><!-- 
    --><a href="javascript: void(0);" *ngIf="pagesOption.total >= pagesOption.page + 4 && pagesOption.total > 7" (click)="queryDatas(pagesOption.total)">{{pagesOption.total}}</a><!-- 
    --><a href="javascript: void(0);" *ngIf="pagesOption.page !== pagesOption.total" (click)="queryDatas(pagesOption.page + 1)">下一页</a>
  </div>
</div>
<!-- loading -->
<div class="ui-block-loading" [class.active]="isLoading">
    <i class="icon-iconfont31shuaxin"></i>
</div>