<div class="nav">
  <div class="search">
    <input placeholder="输入并搜索" id="search" />
  </div>
  <div class="nav-main">
    <ul>
      <!-- <li class="active">
        <a href="javascript:;">首页</a>
        <div class="nav-child">
          <a href="javascript: void(0);">子级</a>
          <a href="javascript: void(0);">子级</a>
          <a href="javascript: void(0);">子级</a>
        </div>
      </li> -->
      {% for nav in classItems %}
      <li>
        <a href="/class/{{nav._id}}">{{nav.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="author"><a href="javascript:;">作者: phuhoang</a></div>
</div>


<style>
  .nav{
    width: 300px;
    height: 100%;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,.07);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .25s;
    -webkit-transition: all .25s;
    transform: none;
    -webkit-transform: none;
  }
  body.active .nav{
    transform: translate3d(-300px, 0, 0);
    -webkit-transform: translate3d(-300px, 0, 0);
  }
  .search{
    padding: 7px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
  }
  .search input{
    width: 100%;
    padding: 7px;
    height: 36px;
    color: #364149;
    font-size: 14px;
    line-height: 22px;
    font-family: inherit;
    border: 1px solid transparent;
    opacity: .9;
  }
  .nav-main{
    padding-top: 10px;
  }
  .nav-main ul{
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(0,0,0,.07);
  }
  .nav-main li{
    position: relative;
  }
  .nav-main li > a,
  .author a{
    display: block;
    color: rgba(54, 65, 73, .8);
    font-size: 15px;
    padding: 10px 20px;
    line-height: 20px;
  }
  .nav-main li.active > a{
    color: #008cff;
  }
  .nav-main li a:hover,
  .author a:hover{
    text-decoration: underline;
  }
  .nav-main li.active .nav-child{
    height: auto;
  }
  .nav-child{
    height: 0;
    overflow: hidden;
  }
  .nav-child a{
    display: block;
    padding: 6px 35px;
    font-size: 14px;
  }
</style>
<script>
  var setTime;
  $('#search').on('input', function () {
    var _this = $(this);
    clearTimeout(setTime);
    setTime = setTimeout(function (){
      if(_this.val().length > 0){
        $.ajax({
          url: '/notes/article/list',
          type: 'get',
          data: {
            title: _this.val(),
            page: 1,
            count: 10
          },
          dataType: 'json',
          success: function (res) {
            if(res.code == 1000 && res.result.list.length){
              $('.content').html('');
              $('.nodata').hide();
              var str = "";
              for(var i = 0, l = res.result.list; i < l.length; i++){
                str += "<li><a href='/article/"+ l[i]._id +"'>"+ l[i].title +"</a></li>";
              }
              $('.article-list ul').html(str);
            }else{
              $('.article-list ul').html('');
              $('.nodata').show().html('无搜索结果');
            }
          }
        })
      }
    }, 500)
  })
</script>